
.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 4px black;
    min-height: calc(100vh - 250px);
    box-sizing: border-box;
}


.container button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(77, 23, 126);
    color: white;
    font-weight: 600;
    padding:5px 10px 5px;
}

.container button:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .container {
        width: 98vw;
        min-width: 0;
        margin: 10px auto;
        padding: 0 2vw;
    }
}
